.cmobile-menu {
  position: fixed;
  width: 100%;
  background: #1f2937;
  top: -100%;
}
.loginLogout p {
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
}

.loginLogout {
  align-items: center;
}
.clogo img {
  width: 95px;
  height: auto;
  border-radius: 10px;
}
