.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cspinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  margin-left: -50% !important;
}
.Toastify__toast {
  background: #4f46e5 !important;
  color: #fff !important;
}

.Toastify__toast button {
  color: #fff !important;
  opacity: 1 !important;
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .desktopdashboard {
    display: none;
  }
  .my-orders {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .cdahsboardmargning {
    margin: 0;
    padding: 0;
  }
  .checkout-wrapper .grid {
    grid-template-columns: 1fr;
  }

  .checkOutForm {
    margin: 0 auto;
  }
  .my-orders td {
    font-size: 10px;
  }

  .my-orders td.text-right button {
    width: 100%;
  }
  .carousel-wrapper {
    width: 375px !important;
  }
  .customer-review .carousel-root {
    overflow: hidden !important;
  }
  .footer-social {
    margin: 0 auto;
  }
}
