.slick-dots {
  height: 70px !important;
}
.cstar-rating {
  font-size: 25px;
  color: yellow;
}
.slick-slider {
  overflow: hidden !important;
}
.customer-review .carousel .control-dots .dot {
  background: #333 !important;
  width: 10px;
  height: 10px;
}
